<%- include partials/header.ejs %>
<div id="fh5co-started" class="fh5co-bg" style="background-image:url(images/img_bg_4.jpg); height: 65rem;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Event_Name</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi sunt recusandae doloribus
                    saepe labore cumque quo placeat aliquam ipsum officiis, ea id, optio nihil asperiores quaerat.
                    Nulla, illum voluptatum!</p>
                <p>Tentative Time : </p>
                <p>Date : </p>
                <p>Room No : </p>
                <p>Permissions: </p>
                </div>
        </div>
        <div class="col-md-4 col-sm-4 col-sm-offset-2">
            <button type="submit" class="btn btn-default btn-block" style="background-color: white; color:green">Accept</button>
        </div>
        <div class="col-md-4 col-sm-4">
            <button type="submit" class="btn btn-default btn-block" style="background-color: white; color:red">Reject</button>
        </div>
    </div>
</div>

<%- include partials/footer.ejs %>