<%- include partials/header.ejs %>
<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_4.jpg);"
	data-stellar-background-ratio="0.5">
	<!-- <div class="overlay"
		style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/landing.jpg');height:100vh">
	</div> -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Total Pending</h1>
						<h1>₹<%=Math.ceil(amount)%></h1>
						<h2></h2>
						<a href="/add_bill"><button>+ Add Bills</button></a>
						<a href="/upload_bill_csv"><button>+ Add Bill CSV</button></a>
					</div>
				</div>
			</div>
		</div>
</header>

<%- include partials/footer.ejs %>