<%- include partials/header.ejs %>

<div id="fh5co-started" class="fh5co-bg" style="background-image:url(images/img_bg_4.jpg); height: 65rem;">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <br>
                <br>
                <br>
				<h2>Login</h2>
				<p>Please Fill-up the form to register for the events.</p>
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-10 col-md-offset-1">
				<form class="form-inline">
					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label for="password" class="sr-only">Password</label>
							<input type="password" class="form-control" id="password" placeholder="Password">
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<button type="submit" class="btn btn-default btn-block" style="background-color: blueviolet;">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<%- include partials/footer.ejs %>
