<%- include partials/header.ejs %>
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
	style="background-image:url(images/img_bg_1.jpg);">
	<div class="overlay"></div>
	<div class="fh5co-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Points Page</h1>

						<h2>Welcome!!
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<style>
	td,
	th {

		padding: 0;
		background: white;
		color: blueviolet;

	}
</style>
<div class="fh5co-container animate-box col-md-offset-4" style="margin-top:5em;">
	<table dir="ltr" width="500" summary="purpose/structure for speech output">
		<colgroup width="50%" />
		<colgroup id="colgroup" class="colgroup" valign="middle" title="title" width="1*" span="2"
			style="background:#ddd;" />
		<thead>
			<tr>
				<th scope="col">Class Name</th>
				<th scope="col">Points</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>BE Comps</td>
				<td>100</td>
			</tr>
			<tr>
				<td>BE Comps</td>
				<td>100</td>
			</tr>
			<tr>
				<td>BE Comps</td>
				<td>100</td>
			</tr>
		</tbody>
	</table>
</div>
<%- include partials/footer.ejs %>